{% extends 'base.html' %}
{% block content %}
<div class="col-md-4">
    {% for post in posts %}
    {% if current_user == post.author %}
    <form action="{{url_for('update_post', post_id=post.id)}}" method="POST" >
        <strong>Author:</strong> {{current_user.username}}<br>
        <strong>Quote:</strong> {{post.quote}}<br>
        
            <button type="submit" class="btn btn-primary btn-sm">Edit</button>
        </form><br>
        <form action="" method="POST">
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
        </form>
    {% else %}
    <strong>Quote:</strong> {{post.quote}}<br>
   <strong>Author:</strong> {{post.author.username}}
   {% endif %}
    {% endfor %}
</div>
{% endblock %}