{% extends 'base.html' %}
{% block title %} Most Popular Posts{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <h1 class="text-center text-card" style="margin-top: 5rem;">Most Popular Quotes</h1>
            {% for post in posts%}
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title text-center text-warning">{{post.author}}</h5>
                      <p class="card-text card-paragraph">"{{post.quote}}"</p>
                    </div>
                  </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}